/*        COLOR PALETTE

  > background/text/nav  #F9F9F9
  > background/accent #1762DC
  > background/accent #6E9EE9
  > text/footer #222222
  > accent #B3B3B3

*/

body {
  color: #222222;
  font-family: 'Lato', sans-serif;
}

/* ----- NAV ----- */

nav {
  background: #F9F9F9;
  padding: .7em;
  box-shadow: 0px 2px 7px 3px rgba(0, 0, 0, 0.4);
  z-index: 9999;
  position: relative;
}

nav h2, nav h4 {
  display: inline-block;
}

nav span {
  margin-left: 2em;
}

nav h2 {
  margin-right: .3em;
  font-weight: 900;
}

nav ul li, nav ul {
  display: inline;
}

nav li {
  border-right: 1px solid #222222;
  padding: 0 2em;
}

nav li:last-of-type {
  border-right: none;
}

nav ul {
  float: right;
  display: inline;
  margin-right: 2em;
  margin-top: 0.3em;
}

/* ----- MAIN ----- */

section#main {
  background: url("../img/waterfall.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 800px;
  position: relative;
  box-shadow: 0px 2px 7px 3px rgba(0, 0, 0, 0.4);
}

#main span {
  position: absolute;
  left: 12%;
  top: 50%;
  transform: translate(0, -50%);
}

#main h1 {
  font-weight: 300;
  font-size: 5em;
}

#main img {
  width: 20px;
  height: auto;
  margin-right: .5em;
}

#main h4 {
  margin: 1.3em;
  margin-left: 0;
}

#main a{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 1.1em;
  letter-spacing: .2em;
  padding: 0.8em 1.2em;
  margin: .7em 0;
  transition: all 300ms;
  font-weight: 400;
  color: #F9F9F9;
  background: #1762DC;
  box-shadow: 0px 10px 10px -5px rgba(0,0,0,.4);
}

#main a:hover {
  box-shadow: 0px 30px 20px -20px rgba(0,0,0,.3);
  transform: translate(0px, -10px) scale(1.1);
}

/* ----- ABOUT ----- */

section#about {
  background: #F9F9F9;
  padding: 6em 7em;
  text-align: center;
  position: relative;
}

.aboutBox {
  display: inline-block;
  width: 300px;
  padding-top: 100px;
  padding-right: 5em;
}

.aboutBox:last-of-type {
  padding-right: 0;
}

.aboutBox p {
  text-align: left;
  etter-spacing: .1em;
  font-weight: 300;
  line-height: 1.1em;
}

.aboutBox h2 {
  padding-bottom: 1em;
}

#about h1 {
  text-align: center;
  font-weight: 300;
  font-size: 4em;
}

#about img {
  width: 60px;
  height: auto;
  padding-bottom: 1em;
}

/* ----- ABOUT SUBSECTION ----- */

#subAbout .wrapper:after {
  content: "";
  display: table;             /* CLEAR FIX */
  clear: both;
}

section#subAbout {
  background: #1762DC;
  color: #F9F9F9;
  padding: 4em;
}

#subAbout .wrapper {
  width: 850px;
  margin: 0 auto;
}

#subAbout .left {
  float: left;
}

#subAbout h2 {
  margin: 0 0 .7em 0;
}

#subAbout p {
  width: 500px;
  line-height: 1.5;
  letter-spacing: .09em;
  font-weight: 300;
}

#subAbout a {
  color: #F9F9F9;
  text-decoration: none;
  background: #6E9EE9;
  padding: .8em 1.2em;
  box-shadow: 0px 10px 10px -5px rgba(0,0,0,.4);
  transition: all 300ms;
  display: inline-block;
  margin-top: 2em;
}

#subAbout a:hover {
  box-shadow: 0px 30px 20px -20px rgba(0,0,0,.3);
  transform: translate(0px, -10px) scale(1.1);
}

#subAbout img {
  width: 200px;
  height: auto;
  float: right;
}



/* ----- PRODUCTS ----- */

#products {
  text-align: center;
  padding: 6em 7em;
  background: #F9F9F9;
}

#products h1 {
  color: #222222;
  font-size: 4em;
  font-weight: 300;
}
